.App {
    text-align: center;
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App nav {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    justify-content: center;
}
.App a {
    text-decoration: none;
    color: #61dafb;
    margin: 20px;
}
.App h1 {
    max-width: 60%;
}
.App input::file-selector-button {
    background-color: #282c34;
    color: #61dafb;
    border: none;
    border-radius: 20px;
}
.App input::file-selector-button:hover {
    background-color: #61dafb;
    color: #282c34;
    cursor: pointer;
}

* {
    font-family: sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    max-width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 30px #000000;
}

.content-table thead tr {
    background-color: #61dafb;
    color: #282c34;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #61dafb;
}
